{{#if typeInfo.typeLink}}
  <a
    href="{{typeInfo.typeLink}}"
    target="{{#if (contains "w3.org" typeInfo.typeLink)}}_blank{{else if typeInfo.typeLinkBlank}}_blank{{else}}_self{{/if}}"
    rel="noopener noreferrer"
    class="item-name img-link"
  >
    {{typeInfo.type}}
    {{#if (contains "w3.org" typeInfo.typeLink)}}
      <img src="/public/wgsl.png" width="20" height="20" />
    {{/if}}
  </a>
{{else}}
  <span class="item-name">{{typeInfo.type}}</span>
{{/if}}
