<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{filename}}</title>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"
    ></script>
    <script src="/public/search.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/public/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="icon" href="/public/favicon.ico" type="image/svg+xml" />
  </head>
  <body>
    <header>
      <div>
        <a href="/" class="header-link">Back home 🏡</a>
        <a
          href="https://www.w3.org/TR/WGSL"
          target="_blank"
          rel="noopener noreferrer"
          class="header-link"
        >WGSL Spec <img src="/public/wgsl.png" width="20" height="20" /></a>
        <a
          href="https://github.com/bevyengine/bevy"
          target="_blank"
          rel="noopener noreferrer"
          class="header-link"
        >Bevy <img src="/public/github.png" width="20" height="20" /></a>
        <a
          href="https://webgpufundamentals.org/webgpu/lessons/webgpu-wgsl-function-reference.html"
          target="_blank"
          rel="noopener noreferrer"
          class="header-link"
        >WGSL Functions</a>
        <input
          type="text"
          id="search-input"
          class="search-input"
          placeholder="Search... 🔍"
        />
      </div>
      <div id="results"></div>
    </header>

    <h1>
      <code>{{filename}}</code>
      <a href="{{githubLink}}" target="_blank" rel="noopener noreferrer">
        <img src="/public/github.png" width="20" height="20" />
      </a>
    </h1>

    {{#if importPath}}
      <div class="importPath">
        <h3>Import path</h3>
        <button onclick="navigator.clipboard.writeText('{{importPath}}')">
          {{importPath}}
          <small>(click to copy)</small>
        </button>
      </div>
    {{/if}}

    {{#if notEmptyConsts}}
      <h3>Constants</h3>

      <div class="function">
        <table class="params-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Value</th>
              {{#if constsShaderDefs}} <th>Shader Def</th>{{/if}}
            </tr>
          </thead>

          {{#each consts}}
            <tbody>
              <tr>
                <td class="flex-align-center">{{name}}
                  <a href="#{{name}}">#</a>
                  {{> gh-link }}
                </td>
                <td class="param-type param-type-table">
                  {{> type }}
                </td>
                <td>{{value}}</td>
                {{#if constsShaderDefs}}
                  <td>
                    {{> shader-defs-list }}
                  </td>
                {{/if}}
              </tr>
            </tbody>
          {{/each}}
        </table>
      </div>
    {{/if}}

    {{#if notEmptyBindings}}
      <h3>Bindings</h3>

      <div class="function">
        <table class="params-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Group</th>
              <th>Binding index</th>
              <th>Binding type</th>
              <th>Type</th>
              {{#if bindingsShaderDefs}} <th>Shader Def</th> {{/if}}
            </tr>
          </thead>

          {{#each bindings}}
            <tbody>
              <tr>
                <td class="flex-align-center">{{name}}
                  <a href="#{{name}}">#</a>
                  {{> gh-link }}
                </td>
                <td>{{groupIndex}}</td>
                <td>{{bindingIndex}}</td>
                <td>{{bindingType}}</td>
                <td class="param-type param-type-table">
                  {{> type }}
                </td>
                {{#if bindingsShaderDefs}}
                  <td>
                    {{> shader-defs-list }}
                  </td>
                {{/if}}
              </tr>
            </tbody>
          {{/each}}
        </table>
      </div>
    {{/if}}

    {{#if notEmptyStructures}}
      <h3>Structures</h3>
    {{/if}}

    {{#each structures}}
      <div class="function">
        <div class="function-header">
          <div>
            <h3 class="function-name" id="{{name}}">
              {{name}}
            </h3>
            <a href="#{{name}}">#</a>
            {{> gh-link }}
          </div>
        </div>

        {{#if comment}}
          <div class="function-comment">{{{linkify
              (code-highlight comment)
            }}}</div>
        {{/if}}

        {{#if hasFields}}
          <table class="params-table">
            <thead>
              <tr>
                {{#if hasAnnotations}}<th>Annotation</th>{{/if}}
                <th>Name</th>
                <th>Type</th>
                {{#if fieldsShaderDefs}} <th>Shader Def</th>{{/if}}
              </tr>
            </thead>
            <tbody>
              {{#each fields}}
                <tr>
                  {{#if hasAnnotations}}
                    <td class="annotation">
                      {{annotation}}
                    </td>
                  {{/if}}
                  <td>{{name}}</td>
                  <td class="param-type param-type-table">
                    {{> type}}
                  </td>
                  {{#if fieldsShaderDefs}}
                    <td>
                      {{#if hasShaderDefs}}
                        {{> shader-defs-list }}
                      {{/if}}
                    </td>
                  {{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}

      </div>
    {{/each}}

    {{#if  notEmptyFunctions}}
      <h3>Functions</h3>
    {{/if}}

    {{#each functions}}
      <div class="function">
        <div class="function-header">
          <div>
            <h3 class="function-name" id="{{name}}">{{name}}</h3>
            <a href="#{{name}}">#</a>
            {{> gh-link }} 
          </div>

          {{#if stageAttribute}}
            <div>
              <span
                class="attribute-badge {{stageAttribute}}-badge"
              >@{{stageAttribute}}</span>
            </div>
          {{/if}}
        </div>

        {{#if hasShaderDefs}}
          <div class="function-shader-defs">
            <h4>Shader defs: </h4>
            <p>
              {{> shader-defs-list }}
            </p>
          </div>
        {{/if}}

        {{#if comment}}
          <div class="function-comment">{{{linkify
              (code-highlight comment)
            }}}</div>
        {{/if}}

        <div class="signature">
          <span class="kw">{{#if visibility}}{{visibility}} {{/if}}fn</span>
          <span class="fn-name">{{name}}</span>(<span>{{#each params}}<span
                class="param-name"
              >{{name}}</span>{{#if type}}:
                <span class="param-type">{{type}}</span>{{/if}}{{#unless
                @last
              }}, {{/unless}}{{/each}}</span>)
          {{#if (neq returnType "void")}}
            ->
            <span class="return-type-val">{{returnType}}</span>{{/if}}
        </div>

        {{#if hasParams}}
          <table class="params-table">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              {{#each params}}
                <tr>
                  <td>{{name}}</td>
                  <td class="param-type">
                    {{> type }}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}

        {{#if (neq returnType "void")}}
          <div class="return-type">Returns:
            {{#if returnTypeLink}}
              <a
                href="{{returnTypeLink}}"
                target="{{#if (contains "w3.org" typeLink)}}_blank{{else if returnTypeLinkBlank}}_blank{{else}}_self{{/if}}"
                rel="noopener noreferrer"
                class="return-type-val img-link"
              >
                {{returnType}}
                {{#if (contains "w3.org" returnTypeLink)}}
                  <img src="/public/wgsl.png" width="20" height="20" />
                {{/if}}
              </a>
            {{else}}
              <span class="return-type-val">{{returnType}}</span>
            {{/if}}</div>
        {{/if}}
      </div>
    {{/each}}
  </body>
</html>
