<html lang="en">
  {{>head title=filename}}

  {{> version-selector }}

  <body>
    {{> header version=version }}

    <main>
      <h1>
        <code>{{filename}}</code>
        <a href="{{githubLink}}" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              srcset="/public/github-mark-white.png"
              media="(prefers-color-scheme: dark)"
            />
            <img src="/public/github-mark.png" width="20" height="20" />
          </picture>
        </a>
      </h1>

      {{#if importPath}}
        <div class="import-path">
          <h3>Import path</h3>
          <button class="import-path-button" onclick="navigator.clipboard.writeText('{{importPath}}')">
            {{importPath}}
            <small>(click to copy)</small>
          </button>
        </div>
      {{/if}}

      {{#if notEmptyConsts}}
        <h3 class="section-header">Constants</h3>

        {{#each consts}}
          <section id="{{name}}">
            <header>
              <div>
                <h3 class="function-name">
                  {{name}}
                </h3>
                <a href="#{{name}}">#</a>
                {{> gh-link }}
              </div>

              {{#if importPath}}
                <div>
                  <button class="import-path-button" onclick="navigator.clipboard.writeText('#import {{importPath}}::{{name}}')">
                    Copy import statement
                  </button>
                </div>
              {{/if}}
            </header>

            {{#if hasShaderDefs}}
              <div class="function-shader-defs">
                <h4>Shader defs requirments: </h4>
                <p>
                  {{> shader-defs-list }}
                </p>
              </div>
            {{/if}}

            <div class="signature code-background">
              <span class="keyword">const</span>
              <span>{{name}}:</span>
              {{> type }}
              <span>=</span>
              <span class="value">{{value}}</span>
            </div>
          </section>
        {{/each}}
      {{/if}}

      {{#if notEmptyBindings}}
        <h3 class="section-header">Bindings</h3>

        {{#each bindings}}
          <section id="{{name}}">
            <header>
              <div>
                <h3 class="function-name">
                  {{name}}
                </h3>
                <a href="#{{name}}">#</a>
                {{> gh-link }}
              </div>

              {{#if importPath}}
                <div>
                  <button class="import-path-button" onclick="navigator.clipboard.writeText('#import {{importPath}}::{{name}}')">
                    Copy import statement
                  </button>
                </div>
              {{/if}}
            </header>

          {{#if hasShaderDefs}}
            <div class="function-shader-defs">
              <h4>Shader defs requirments: </h4>
              <p>
                {{> shader-defs-list }}
              </p>
            </div>
          {{/if}}

            <div class="signature code-background">
              {{> annotations }}
              <span><span class="keyword">var</span>{{#if bindingType}}&lt;<span class="keyword">{{bindingType}}</span>&gt;{{/if}}</span>
              <span>{{name}}:</span>
              {{> type }}
            </div>
          </section>
        {{/each}}
      {{/if}}

      {{#if notEmptyStructures}}
        <h3 class="section-header">Structures</h3>

        {{#each structures}}
          <section id="{{name}}">
            <header>
              <div>
                <h3 class="function-name">
                  {{name}}
                </h3>
                <a href="#{{name}}">#</a>
                {{> gh-link }}
              </div>

              {{#if importPath}}
                <div>
                  <button class="import-path-button" onclick="navigator.clipboard.writeText('#import {{importPath}}::{{name}}')">
                    Copy import statement
                  </button>
                </div>
              {{/if}}
            </header>

            {{#if comment}}
              <div class="function-comment">{{{parse-markdown comment}}}</div>
            {{/if}}

            <div class="code-background">
              <span class="keyword">struct</span>
              <span class="item-name">{{name}}</span>
              <span>{</span>

              <div class="struct-field-rows">
                {{#each fields}}
                    <div class="struct-field-row">
                    {{> annotations }}
                    <span>{{name}}:</span>
                    {{> type}}
                    <span>,</span>
                    {{#if fieldsShaderDefs}}
                      <span>
                        {{#if hasShaderDefs}}
                          {{> shader-defs-list }}
                        {{/if}}
                      </span>
                    {{/if}}
                    </div>
                {{/each}}
              </div>

              <span>}</span>
            </div>
          </section>
        {{/each}}
      {{/if}}

      {{#if notEmptyFunctions}}
        <h3 class="section-header">Functions</h3>
      
        {{#each functions}}
          <section id="{{name}}">
            <header>
              <div>
                <h3 class="function-name">{{name}}</h3>
                <a href="#{{name}}">#</a>
                {{> gh-link }} 
              </div>

              {{#if importPath}}
                {{#unless stageAttribute}}
                  <div>
                    <button class="import-path-button" onclick="navigator.clipboard.writeText('#import {{importPath}}::{{name}}')">
                      Copy import statement
                    </button>
                  </div>
                {{/unless}}
              {{/if}}

              {{#if stageAttribute}}
                <div>
                  <div class="tooltip-container">
                    <span
                      class="attribute-badge {{stageAttribute}}-badge"
                    >@{{stageAttribute}}</span>
                      <div class="tooltip-text">
                        {{#if (eq stageAttribute "vertex")}}Processes each 3D point in a model before it's drawn{{/if}}
                        {{#if (eq stageAttribute "fragment")}}Calculates the final color of each pixel on the screen{{/if}}
                        {{#if (eq stageAttribute "compute")}}Runs custom parallel code on the GPU, not limited to graphics{{/if}}
                      </div>
                  </div>

                  {{#if hasWorkgroupSize}}
                    <div class="tooltip-container">
                      <span class="attribute-badge workgroup-size-badge">
                        @workgroup_size({{#each workgroupSize}}{{this}}{{#unless @last}},&nbsp;{{/unless}}{{/each}})
                      </span>
                      <div class="tooltip-text">
                        Defines the size of a thread group. One to three numbers: width (x), height (y), and depth (z). Missing values default to 1
                      </div>
                    </div>
                  {{/if}}
                </div>
              {{/if}}
            </header>

            {{#if hasShaderDefs}}
              <div class="function-shader-defs">
                <h4>Shader defs requirments: </h4>
                <p>
                  {{> shader-defs-list }}
                </p>
              </div>
            {{/if}}

            {{#if comment}}
              <div class="function-comment">{{{parse-markdown comment}}}</div>
            {{/if}}

            <div class="signature code-background">
              <span class="keyword">fn</span>
              <span class="item-name no-margin">{{name}}</span>
              ({{#each params}}
                  <div class="param {{#if @last}}no-margin{{/if}}">{{> annotations }}<span>{{name}}: </span>{{> type}}</div>{{#unless @last}},&nbsp;{{/unless}}
                {{/each}})

              {{#if (neq returnTypeInfo.type "void")}}
                <span class="arrow">-></span>
                {{> annotations annotations=returnTypeInfo.annotations}}
                {{> type typeInfo=returnTypeInfo }}
              {{/if}}
            </div>
          </section>
        {{/each}}
      {{/if}}
    </main>
  </body>
</html>
